---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# https://devblogs.microsoft.com/cppblog/clangformat-support-in-visual-studio-2017-15-7-preview-1/
# https://zed0.co.uk/clang-format-configurator/

BasedOnStyle: 'Microsoft' # https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options
AccessModifierOffset: -4

# AlignConsecutiveMacros: Consecutive
AllowAllConstructorInitializersOnNextLine: 'false'
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortEnumsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine : None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakBeforeMultilineStrings: 'true'
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Allman
BraceWrapping:
  AfterCaseLabel: 'true'
  AfterClass: 'true'
  AfterControlStatement: 'true'
  AfterEnum: 'true'
  AfterFunction: 'true'
  AfterNamespace: 'true'
  AfterObjCDeclaration: 'false'
  AfterStruct: 'true'
  AfterUnion: 'true'
  AfterExternBlock: 'true'
  BeforeCatch: 'true'
  BeforeElse: 'false'
  IndentBraces: 'true'
  SplitEmptyFunction: 'true'
  SplitEmptyRecord: 'true'
  SplitEmptyNamespace: 'true'
ColumnLimit: '0'
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: 'false'
FixNamespaceComments: 'true'
# IndentAccessModifiers: 'false'
IndentCaseBlocks: 'true'
IndentCaseLabels: 'false'
IndentExternBlock: AfterExternBlock
IndentPPDirectives: None # BeforeHash
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
SortIncludes: 'false'
SpaceAfterCStyleCast: 'true'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeAssignmentOperators: 'true'
# SpaceBeforeCaseColon: 'false'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceBeforeSquareBrackets: 'false'
SpaceInEmptyBlock: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInConditionalStatement: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: 4
UseTab: Always

...
